body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    margin: 0;
    
}

header{
    background-color: darkslateblue;
    font-size: 24;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 36px;
}

#form-wrapper{
    padding-top: 36px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

label.primary{
    display: block;
    margin-right: 20px;
}

#h1{
    text-align: center;
}

button{
    margin-left: 36px;
}

#form{
    margin-left: 36px;
}

#endangered-animals-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.endangered-animals-item{
    margin: 5px 5px;
    padding: 5px 8px;
    list-style: none;
    border: 1px solid #20437c;
    border-radius: 5%;
    background: #ddeaff;
}

#search{
    margin-left: 36px;
}

.save{
    margin-top: 15px;
}

#delete-all{
    margin-top: 15px;
}

.input{
    margin-right: 15px;
}